<h1 class="my-4">Lista delle birre</h1>

<!--<div class="row row-cols-1 row-cols-md-2 g-4">
  <div
    class="card shadow mt-3 mx-3"
    style="width: 18rem;"
    *ngFor="let beer of beers"
  >
    <img src="{{ beer.image }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h6 class="card-title">
        Nome della birra:<app-beer [beer]="beer"></app-beer>
      </h6>
      <h6 class="card-text">
        Price: <b>{{ beer.price }}€</b>
      </h6>
      <p class="card-text">Description: {{ beer.beerStyle }}</p>
    </div>
  </div>
</div>-->
<div class="card shadow">
  <h5 class="card-header">Beer list</h5>
  <div class="card-body">
      <app-beer></app-beer>
  </div>
</div>

