<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Upc</th>
      <th scope="col">Creation Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beer of beers">
      <th scope="row">{{ beer.id }}</th>
      <td>{{ beer.beerName }}</td>
      <td>{{ beer.beerStyle }}</td>
      <td>{{ beer.price }}€</td>
      <td>{{ beer.upc }}</td>
      <td>{{ beer.lastModifiedDate | date }}</td>
      <td><img src="{{ beer.image }}" /></td>
      <button
        type="button"
        class="btn btn-danger bg-danger mt-4 text-white"
        (click)="onDelete(beer)"
      >
        Elimina
      </button>
    </tr>
  </tbody>
</table>
