<nav class="navbar navbar-expand-lg bg-dark">
  <h3 class="navbar-brand text-white mx-3">Beer App</h3>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav links text-end">
      <a
        class="nav-link active text-end"
        routerLink="/add"
        routerLinkActive="router-link-active"
        >Add</a
      >
      <a
        class="nav-link active text-end"
        routerLink="/list"
        routerLinkActive="router-link-active"
        >List</a
      >
    </div>
  </div>
</nav>

<app-beer-list></app-beer-list>
